/* Tailwind import */
@import "tailwindcss";

/* Font import */
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

html[data-theme="light"] {
  --bg-color: #f9fafb;
  --text-color: #111827;
}

html[data-theme="dark"] {
  --bg-color: #111827;
  --text-color: #f9fafb;
}

html {
  font-family: "Inter Variable", sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}